<template>
    <div class="createwallet">
        <div class="createimport">
            <div class="iteBorder">
                <div class="title">钱包创建</div>
                <div style="padding-top:10px;">
                    <span style="padding-top:10px;">助记词类型：</span>
                    <el-select v-model="mnemonicTypeValue" placeholder="请选择助记词类型">
                        <el-option
                        v-for="item in mnemonicTypeArr"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div style="padding-top:30px;">
                    <span style="padding-top:10px;">设置需要创建钱包地址(私钥)的个数(1~10)：</span>
                    <el-input
                        type="number"
                        class="item_input"
                        placeholder="输入要创建的钱包地址(私钥)个数"
                        v-model.trim="walletnum">
                    </el-input>
                </div>
                <div style="padding-top:20px;">
                    <span style="padding-top:10px;">设置钱包地址(私钥)的index：</span>
                    <el-input
                        type="number"
                        class="item_input"
                        placeholder="输入钱包地址(私钥)的index"
                        v-model.trim="addressIndex">
                    </el-input>
                </div>
                <div style="padding-top:28px;">
                    <el-button type="primary" @click="handleShowDialog">确定</el-button>
                </div>
            </div>

            <!-- 导入钱包 -->
            <div class="ite">
                <div class="title">导入钱包</div>
                <div class="importtype">
                    <div style="padding-bottom:10px;">导入类型：</div>
                    <el-select v-model="typeValue" placeholder="请选择导入类型">
                        <el-option
                        v-for="item in typesArr"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="zjc" v-show="typeValue==0">
                        <div>
                            <span>助记词对应的钱包地址index：</span>
                            <el-input
                                type="number"
                                class="item_input"
                                placeholder="输入钱包地址(私钥)的index"
                                v-model.trim="inputAddressIndex">
                            </el-input>
                        </div>
                        <div>
                            <div style="padding-bottom:10px;">助记词：</div>
                            <el-input
                                type="textarea"
                                :rows="3"
                                placeholder="请输入助记词"
                                @input="regMnemonic"
                                v-model="textareaMnemonic">
                            </el-input>
                        </div>
                        <el-button type="primary" style="margin-top:20px;" @click="handleImportMnemonic">确定导入</el-button>
                    </div>
                    <div class="sy" v-show="typeValue==1">
                        <div >
                            <div style="padding-bottom:10px;">私钥：</div>
                            <el-input
                                type="textarea"
                                :rows="3"
                                placeholder="请输入私钥"
                                @input="regPrivatekey"
                                v-model="textareaPrivatekey">
                            </el-input>
                        </div>
                        <el-button type="primary" style="margin-top:88px;" @click="handleImportPrivate">确定导入</el-button>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
            >
            <span>{{tips}}</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleConfirmCreate">确定创建</el-button>
            </span>
        </el-dialog>

        <el-dialog
            title="钱包创建成功"
            :visible.sync="dialogResultShow"
            :close-on-click-modal="false"
            width="38%"
            >
            <div class="create_title">请将如下助记词备份：</div>
            <p class="pps">{{mnemonic}}</p>
            <div class="create_title">生成如下地址并记住对应地址(私钥)的index：</div>
            <ul class="ul">
                <li v-for="(item,index) in allAddressArr" :key="index">{{item.address}}<span style="padding-left:10px;">地址(私钥)index为：<span style="color:#1989fa;">{{item.indexaddress}}</span></span></li>
               
            </ul>
            
        </el-dialog>
    </div>
</template>
<script>
import {Wallet, WalletManager, WiccApi,bitcore} from 'wicc-wallet-lib'
import { NETTYPE } from '@/tools/config.js'

export default {
    data() {
        return {
            tips:'',
            dialogVisible:false,
            walletnum:1,
            addressIndex:0,
            loading:"",
            timer:null,
            dialogResultShow:false,
            mnemonic:'',
            allAddressArr:[],
            typesArr:[{value:0,label:'助记词'},{value:1,label:'私钥'}],
            typeValue:0,
            inputAddressIndex:0,
            textareaMnemonic:'',
            textareaPrivatekey:'',
            mnemonicTypeArr:[{value:'ENGLISH',label:'English'},{value:'CHINESE',label:'中文'}],
            mnemonicTypeValue:'ENGLISH'

        }
    },
    methods: {
        handleShowDialog(isneedwallet){
            let nu =  String(this.walletnum).indexOf(".") + 1
            if(nu>0){
                this.$message.error('所设置钱包地址(私钥)个数不能为小数');
                    return
            }
            if(!this.isRealNum(this.walletnum) || this.walletnum-0<1 ||  this.walletnum-0>10){
                this.$message.error('所设置钱包地址(私钥)个数为1~10的数字');
                    return
            }
            let nm = String(this.addressIndex).indexOf(".") + 1
            if(nm>0 || this.addressIndex<0){
                this.$message.error('钱包地址(私钥)的index不能为负数或者小数');
                    return
            }

            this.tips = `所创建的钱包为单一的助记词对应多个钱包地址，当前需要创建${this.walletnum}个钱包地址`
            this.dialogVisible = true
            
        },
        isRealNum(val){
      　　if(val === "" || val ==null){
              return false;
      　　}
          if(!isNaN(val)){　　　　
      　　　 return true; 
      　　}else{ 
      　　　　return false; 
      　　} 
        },
        handleConfirmCreate(){
            
            this.dialogVisible = false
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });

            this.timer = setTimeout(()=>{
                this.createMethods()
            },50)
            
        },
        createMethods(){
            let addressArr = []
            //创建助记词
            var walletManager = new WalletManager(NETTYPE)
            var mnemonic = walletManager.randomMnemonicCodes("ENGLISH")
            var arg = { network: NETTYPE }
            var wiccApi = new WiccApi(arg)
            
            if(this.mnemonicTypeValue=='ENGLISH'){
                 this.mnemonic = mnemonic
            }else{
                this.mnemonic = wiccApi.switchMnemonicCode(mnemonic, "CHINESE")
            }
            var walletInfo = wiccApi.createWallet(mnemonic, '12345678')
            let addnum = this.addressIndex
            for(var i=0;i<this.walletnum;i++){
                var hdPrivateKey = wiccApi.getHDPriKeyFromSeed(walletInfo.seedinfo, '12345678',addnum)//siyao
                var privateKey = bitcore.PrivateKey.fromWIF(hdPrivateKey)
                var pubKey=privateKey.toPublicKey(); //公钥
                var address = privateKey.toAddress();
                addressArr.push({indexaddress:addnum,address:address.toString(),mnemonic:mnemonic,publickey:pubKey.toString()})
                
                addnum++;
            }

            this.allAddressArr = addressArr
            
            this.$http.post("/api/create",{addressArr:addressArr}).then(res => {
                this.loading.close();
                if(res.code==0){
                    //ssconsole.log('res==>',res)
                    this.dialogResultShow = true 
                }else{
                    this.$message.error(res.msg);
                }
            }).catch(err=>{
                this.loading.close();
            })

        },
        regMnemonic(val){
            this.textareaMnemonic = val.replace(/\s+/g, ' ')
        },
        regPrivatekey(val){
            this.textareaPrivatekey = val.replace(/\s+/g,"")
        },
        handleImportMnemonic(){
            
            this.textareaMnemonic = this.textareaMnemonic.trim()
            let nm = String(this.inputAddressIndex).indexOf(".") + 1
            if(nm>0 || this.inputAddressIndex<0){
                this.$message.error('钱包地址(私钥)的index不能为负数或者小数');
                    return
            }
            if(!this.textareaMnemonic){
                this.$message.error('助记词不能为空');
                    return
            }
            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });
            this.timer = setTimeout(()=>{
                //环境初始化
                var arg = { network: NETTYPE }
                var wiccApi = new WiccApi(arg)
                //检查助记词是否有效
                var ret = wiccApi.checkMnemonicCode(this.textareaMnemonic)
                if(!ret){
                    this.loading.close();
                    this.$message.error('请输入正确的助记词');
                    return
                }
                var lang = wiccApi.getMnemonicCodeLanguage(this.textareaMnemonic)
                var resultMnemonic = ''
                if(lang=='CHINESE'){
                    resultMnemonic = wiccApi.switchMnemonicCode(this.textareaMnemonic, "ENGLISH")
                }else{
                    resultMnemonic = this.textareaMnemonic
                }
                var walletInfo = wiccApi.createWallet(resultMnemonic, '12345678')
                var hdPrivateKey = wiccApi.getHDPriKeyFromSeed(walletInfo.seedinfo, '12345678', this.inputAddressIndex)//siyao
                var privateKey = bitcore.PrivateKey.fromWIF(hdPrivateKey)
                var pubKey=privateKey.toPublicKey(); //公钥
                var address = privateKey.toAddress();
                let importMnemonicObj = {indexaddress:this.inputAddressIndex,address:address.toString(),mnemonic:resultMnemonic,publickey:pubKey.toString()}
                
                this.importKeyMethods(importMnemonicObj)
            },50)
        },
        handleImportPrivate(){
            if(!this.textareaPrivatekey){
                this.$message.error('私钥不能为空');
                    return
            }
            //环境初始化
            var walletManager = new WalletManager(NETTYPE)
            try{
                var wallet = walletManager.importWalletFromPrivateKey(this.textareaPrivatekey)
            }catch(e){
                this.$message.error('请输入正确的私钥');
                return
            }
            //私钥存入数据库 则无法定位indexaddress 故也允许存为空。
            
            //推出公钥、地址
            var privateKey = bitcore.PrivateKey.fromWIF(this.textareaPrivatekey)
            var pubKey=privateKey.toPublicKey(); //公钥
            var address = privateKey.toAddress();
            let importPrivateObj = {address:address.toString(),privatekey:this.textareaPrivatekey,publickey:pubKey.toString()}
            //console.log(importPrivateObj)

            this.loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });

            this.timer = setTimeout(()=>{
                this.importKeyMethods(importPrivateObj)
            },50)
           
        },
        importKeyMethods(importKeyObj){
             this.$http.post("/api/importkey",{importKeyObj:importKeyObj}).then(res => {
                this.loading.close();
                if(res.code==0){
                    this.typeValue = 0
                    this.inputAddressIndex = 0
                    this.textareaMnemonic = ''
                    this.textareaPrivatekey = ''
                    this.$message({
                        message: '钱包导入成功！',
                        type: 'success'
                    });
                }else{
                    this.$message.error(res.msg);
                }
            }).catch(err=>{
                this.loading.close();
            })
        }
    },
    beforeDestroy(){
        clearTimeout(this.timer)
        this.timer = null
    }
}
</script>
<style scoped>
.create_title{
    padding: 5px 0;
    font-size: 16px;
    line-height: 20px;
}
.pps{
    padding: 5px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    word-break:keep-all;
}
.ul {
    max-height: 125px;
    overflow-y: scroll;
}
li{
    font-size: 14px;
    line-height: 24px;
    padding-left: 5px;
}
.createimport{
    display: flex;
}
.ite{
    width: 390px;
    padding: 10px;
    padding-right: 20px;
}
.iteBorder{
    width: 390px;
    padding: 10px;
    border-right: 1px solid #C0C4CC;
    margin-right:60px;
}
.title{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 20px;
}
.item_input{
    width: 300px;
    margin: 15px 0;
    margin-top: 10px;
}
.importtype .zjc{
    padding-top: 20px;
}
.sy{
    padding-top: 30px;
}
.ite >>> .el-button--primary{
    font-size: 16px;
}

</style>