<template>
  <div id="qr-box">
    <qriously :value="rawTxUrl+cointransferTx" :size="size" :backgroundAlpha="backgroundAlpha"/>
  </div>
</template>

<script>
import Vue from 'vue';
import VueQriously from 'vue-qriously';
Vue.use(VueQriously);
import {rawTxUrl} from '@/tools/config.js';
export default {
  components: {},
  props:['cointransferTx'],
  data() {
    return {
      //二维码内容 
      rawTxUrl:rawTxUrl,
      // 二维码大小 默认 100
      size: 150,
      // 背景透明度，默认透明 0 
      backgroundAlpha: 1,      
    };
  },

};
</script>
<style scoped>
#qr-box {
  width: 150px;
  height: 150px;
  border-radius: 1px;
  overflow: hidden;
  margin: 0 auto;
}
</style>