<template>
  <div class="transfer">
    <h2><i class="el-icon-s-opportunity"></i>转账</h2>
    <div class="content">
        
        <div class="item" >
          发送地址：
          <el-select class="item_select" v-model="addressValue" placeholder="请选择发送地址">
            <el-option
              v-for="item in addresslist"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>

        <div class="item" style="padding-bottom:35px;">
          接收地址：
          <el-input
            class="item_input_address"
            placeholder="请输入接收地址"
            v-model.trim="reciveAddress">
          </el-input>
        </div>
        <div class="item" >
          最新的区块高度：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入区块高度"
            v-model.trim="nValidHeight">
          </el-input>
        </div>

        <div class="item" >
          交易金额：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入金额"
            v-model.trim="exchangeAmount">
          </el-input>
          <el-select v-model="amountSawValue" class="item_select_saw" placeholder="请选择金额单位">
            <el-option
              v-for="item in amountSawList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>

        <div class="item" >
          手续费：
          <el-input
            type="number"
            class="item_input"
            placeholder="请输入手续费"
            v-model.trim="feeAmount">
          </el-input>
          <el-select class="item_select_saw" v-model="feeSawValue" placeholder="请选择金额单位">
            <el-option
              v-for="item in feeSawList"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </div>
        <div class="btn">
           <el-button type="primary" @click="handleConfirm" >确定转账</el-button>
        </div>
    </div>
    <el-dialog
      title="手机扫码提交签名上链"
      :visible.sync="qrialogVisible"
      width="30%"
      center>
      <qrCode :cointransferTx="cointransferTx"></qrCode>
      <div style="padding-top:20px;"></div>
    </el-dialog>
  </div>
</template>

<script>
import qrCode from '@/common/qrCode.vue'
export default {
    components: { qrCode },
    props:{
      addresslist:{
        type:Array,
        default: function () {
            return []
        }
      },
      addressValueIndex:{
        type:String,
        default:""
      },
      amountSawList:{
        type:Array,
        default: function () {
            return []
        }
      },
      amountSawValueIndex:{
        type:String,
        default:""
      }
    },
    watch: {
      addressValueIndex(val){
        this.addressValue = val
      },
      amountSawValueIndex(val){
        this.amountSawValue = val
      }
    },
    data() {
      return {
        addressValue:'',
        amountSawValue:'',
        cointransferTx:"",
        reciveAddress:'',
        exchangeAmount:"",
        feeAmount:'0.001',
        feeSawList:[{
          value: 'WUSD',
          label: 'WUSD'
        }, {
          value: 'WICC',
          label: 'WICC'
        }],
        feeSawValue:'WUSD',
        qrialogVisible:false,
        nValidHeight:"",

      }
    },
    methods:{
      handleConfirm(){

        if(!this.addressValue){
           this.$message.error('请选择发送地址');
          return
        }
        if(!this.amountSawValue){
          this.$message.error('请选择交易金额的单位');
          return
        }
        let reg = /^(w|W)[a-zA-Z\d]{33}$/;
        if(!reg.test(this.reciveAddress)){
            this.$message.error('请正确输入维基链钱包地址');
            return
        }

        if(!this.isRealNum(this.exchangeAmount)){
          this.$message.error('请输入数字类型的金额');
          return
        }
        
        if(!this.isRealNum(this.feeAmount)){
          this.$message.error('请输入数字类型的矿工费');
          return
        }
        if(this.feeAmount-0<0.001){
          this.$message.error('矿工费不能小于0.001');
          return
        }
        if(!this.isRealNum(this.nValidHeight)){
          this.$message.error('请输入数字类型的区块链高度');
          return
        }

        this.handleTransfer()
      },
      isRealNum(val){
      　　if(val === "" || val ==null){
              return false;
      　　}
          if(!isNaN(val)){　　　　
      　　　 return true; 
      　　}else{ 
      　　　　return false; 
      　　} 
      },
      handleTransfer(){
        let loading = this.$loading({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.6)'
            });

        let destArr = [{
          coinSymbol: this.amountSawValue,
          destAddress: this.reciveAddress,
          transferAmount: (this.exchangeAmount)*100000000-0
        }]
        
        let cointransferTxinfo = {
          nTxType: 11,//转账交易类型
          nValidHeight: this.nValidHeight-0,
          fees: (this.feeAmount)*100000000-0,
          srcRegId: '', //When srcRegId is available, use RegID as priority since it cost 0.001 WICC trx fees otherwise it'll be 0.002 WICC
          dests: destArr,
          memo: "transfer",// remark, optional field
          feeSymbol: this.feeSawValue,
          addressValue:this.addressValue
        };

        this.$http.post("/api/transfertx",cointransferTxinfo).then(res => {
            loading.close()
             // console.log('res==>',res)
              if(res.code==0){
                this.cointransferTx = res.data.data
                this.qrialogVisible = true
              }
              
        }).catch((err)=>{
          loading.close()
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.transfer{
  padding:25px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.transfer h2{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
h2 i{
  color: #50bfff;
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
}
.transfer:hover{
  box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
}
.item_select{
  width: 400px;
}
.item_select_options{
  width: 250px;
}
.item_select_saw{
  width: 150px;
}
.item_input_address{
  width: 400px;
}
.item_input{
  width: 200px;
}
.item{
  padding-bottom: 20px;
}
.btn{
  padding-left: 60px;
  padding-top: 20px;
}
</style>
