<template>
  <div class="main">
    <!-- <h2>离线签名二维码生成器</h2> -->
    <div class="content">
        <div class="header">
            <div class="img" ><img src="@/assets/images/walleticon.svg" /><span class="font">交易签名器</span></div>
            <div class="tabs">
            <router-link to="/exchange"><div :class="{selected:activeName=='/exchange'}">交易操作</div></router-link>
            <router-link to="/createwallet"><div :class="{selected:activeName=='/createwallet'}">管理钱包</div></router-link>
            </div>
        </div>
        <router-view/>
    </div>
  </div>
</template>

<script>

export default {
    data() {
      return {
        activeName:'/exchange',
      }
    },
    watch:{
      $route(to,from){
        this.activeName = to.path
      }
    },
    mounted() {
      this.activeName = this.$route.path
    },
    
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.main .content{
  width: 1000px;
  margin: 0 auto;
}
.header{
  position: relative;
  height: 50px;
  margin-bottom: 40px;
  border-bottom: 1px solid #dcdfe6;
}
.header .img{
  margin-top: 10px;
  height: 30px;
  position: absolute;
  display: flex;
}
.header .img .font{
  color: #409eff;
  font-size: 14px;
  padding-top: 15px;
  padding-left: 3px;
}
.content .tabs{
  display: flex;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
  margin-bottom: 30px;
  
}
.tabs div{
    width: 80px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    color: rgba(25, 137, 250, 0.5);
    border-bottom: 2px solid transparent;
  }
.tabs div:hover{
  color: #409eff;
}
.tabs .selected{
  color:#1989fa;
  border-bottom: 2px solid #1989fa;
}
</style>
